<style>
    .header {
        /* position: relative; */
        background-color: #00425B;
        color: white;
        height: 70px;
        padding: 15px 0;
    }

    .header .nav-link {
        color: white;
    }
</style>

<!-- Header starts -->
<nav class="navbar navbar-expand-lg header">
    <a class="navbar-brand mx-5" href="{% url 'home:index' %}" style="color: white;">B2B Invoicing Platform</a>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav mx-4">
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'home:index' %}">Home</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'companies:index' %}">Companies</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'users:index' %}">Users</a>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" href="{% url 'invoices:index' %}">Invoices</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Header ends -->